.container {
  position: fixed;
  margin: 20px 20px auto;
  max-width: 1300px;
  height: 800px;
  padding: 20px;
  background: no-repeat url("tree-sky.jpg");
  background-size: cover;
  border: 1px solid rgb(233, 166, 22);
  box-shadow: 5px 5px rgb(233, 166, 22);
  border-radius: 10px;
  color: #fff;
  opacity: 1;
  font-family: "Libre Baskerville", serif;
}
input[type="text"] {
  position: relative;
  top: 5px;
  left: 700px;
  border-radius: 5px;
  border: 2px solid rgb(233, 166, 22);
  background-color: transparent;
  box-shadow: inset 1px 1px 3px #ccc;
  color: #fff;
  height: 44px;
  padding: 10px;
  width: 300px;
}
::placeholder {
  color: #fff;
}
input[type="submit"] {
  position: relative;
  top: 5px;
  left: 705px;
  cursor: pointer;
}
.current-position {
  position: relative;
  top: -35px;
  left: 1100px;
  background: #7d942e;
  color: #fff;
  padding: 6px;
  border-radius: 4px;
  border: none;
  transition: all 200ms ease;
}
.current-position:hover {
  cursor: pointer;
  background: #496023;
}
h1 {
  display: block;
  position: fixed;
  top: 45px;
  left: 50px;
  font-size: 50px;
}
h2 {
  display: block;
  position: fixed;
  font-size: 30px;
  top: 110px;
  left: 50px;
}
h4 {
  display: block;
  position: fixed;
  top: 150px;
  left: 50px;
}
.weather-temp-today {
  position: fixed;
  top: 180px;
  left: 300px;
  font-size: 40px;
}
.temperature-min,
.temperature-max,
#celsius-min,
#celsius-max {
  font-size: 20px;
}
h3 {
  position: fixed;
  top: 240px;
  left: 300px;
  font-size: 25px;
}
#icon {
  position: fixed;
  width: 200px;
  top: 160px;
  left: 50px;
}
.conditions {
  position: fixed;
  top: 275px;
  left: 300px;
  width: fit-content;
  font-size: 15px;
  border-radius: 20px;
  padding: 10px;
  border: 3px solid rgb(233, 166, 22);
  list-style: none;
}
.weather-forecast {
  position: fixed;
  width: 930px;
  height: 220px;
  margin-top: 280px;
  padding: 10px;
  background-color: transparent;
  border: 5px solid rgb(233, 166, 22);
  box-shadow: 2px 2px 2px rgb(233, 166, 22);
  border-radius: 20px;
  font-size: 25px;
  color: #fff;
  text-align: center;
}
.forecast-description {
  font-size: 15px;
}
small {
  position: fixed;
  bottom: 0;
  left: 20px;
  color: #000;
  font-size: 18px;
  opacity: 0.8;
}
.github {
  color: rgb(52, 39, 224);
}
.github:hover {
  color: #3b5510;
  text-decoration: underline;
}
